@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base{

        h1 {
            @apply text-3xl md:text-5xl font-black text-slate-900 tracking-tight leading-tight;
        }

        h2 {
            @apply text-2xl md:text-3xl font-bold text-slate-800 tracking-normal mt-8 mb-4;
        }

        h3 {
            @apply text-xl md:text-2xl font-semibold text-slate-800 mb-3;
        }

        h4 {
            @apply text-lg md:text-xl font-medium text-slate-700;
        }

        p {
            @apply text-base md:text-lg text-slate-600 leading-relaxed mb-4;
        }
    }


@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {

}

